.layout {
    width: 100%;
    height: 735px;

    display: grid;
    grid:
        "elementos body estilos" auto / auto 1fr auto;
    gap: 8px;
}

.elementos {
    grid-area: elementos;
    background-color: cadetblue;
    width: 200px;
    text-align: center;
}

.body {
    grid-area: body;
    background-color: cadetblue;
}

.estilos {
    grid-area: estilos;
    background-color: cadetblue;
    width: 200px;
    text-align: center;
}

.animacion {
    /*width: 100px;
    height: 100px;
    background: red;*/
    position: relative;
    animation: mymove 2s infinite;
    animation-play-state: paused;
}

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 200px;
    }
}

table,
th,
td {
    border: 1px solid black;
}
